.tips_wrapper{
    display: flex;
    flex-direction: column;
    border-radius: 8px;
    box-shadow: 0 10px 15px -3px rgba(0 ,0, 0 , 0.1);
    margin-bottom: 2rem;
}
.tips_wrapper__title{
    background-color: #F7F7F7;
    padding: .5rem 1rem;
}
.tips_wrapper__body{
    background-color: #fff;
    padding: .5rem 1rem;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}
thead{
    background-color: #F7F7F7;
}
tbody{
    background-color: #fff;
}