{% extends "layouts/layout.html" %}
{% block website_content %}
    <div class="modal fade" id="delete_user" tabindex="-1" role="dialog" aria-labelledby="delete_user" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <p class="modal-title" id="exampleModalLabel">delete user</p>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <p id="delete_user_text"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="confirm_delete_user()" class="btn btn-danger">delete</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="add_license" tabindex="-1" role="dialog" aria-labelledby="add_license" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="add_licenseLabel">add license</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
            <form action="" method="post">

                <div class="modal-body ">
                    {{ add_license_form.user_id(style="visibility: hidden;",id="added_license_id") }}
                    <h4 class="text-center mb-4">how many license you want to add</h4>
                    {{ add_license_form.number(style="display: inherit;" ,class="pl-2 mx-auto mb-2" ,value=0) }}
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-success">add</button>
                </div>
            </form>

        </div>
      </div>
    </div>

    <div class="modal fade" id="suspend_user" tabindex="-1" role="dialog" aria-labelledby="suspend_user" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="suspend_userLabel">suspend user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
              <p id="suspend_user_text"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="confirm_suspend_user()" class="btn btn-danger">suspend</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="upgrade_user" tabindex="-1" role="dialog" aria-labelledby="suspend_user" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="upgrade_userLabel">upgrade user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
              <p id="upgrade_user_text"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="confirm_upgrade_user()" class="btn btn-danger">upgrade</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="downgrade_user" tabindex="-1" role="dialog" aria-labelledby="suspend_user" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="downgrade_userLabel">downgradeuser</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
              <p id="downgrade_user_text"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="confirm_downgrade_user()" class="btn btn-danger">downgrade</button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal fade" id="reactivate_user" tabindex="-1" role="dialog" aria-labelledby="reactivate_user" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="reactivate_userLabel">reactivate user</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body ">
              <p id="reactivate_user_text"></p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="button" onclick="confirm_reactivate_user()" class="btn btn-success">reactivate</button>
          </div>
        </div>
      </div>
    </div>
    {% if invitation_code %}
        <div role="alert" class="alert alert-dismissible alert-success message-animated">
            <strong>{{ invitation_code }}</strong> is your new generated code .
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    {% endif %}
    <h1 class="text-center mt-2 mb-5">users management</h1>
    <form method="get" action="/admin/generate">
      <button type="submit" class="btn btn-success float-right mb-2">new invitation code</button>
    </form>

    <table class="table border-bottom">
      <thead>
        <tr>
          <th class="text-center" scope="col">#</th>
          <th class="text-center" scope="col">user email</th>
          <th class="text-center" scope="col">N° of licenses</th>
          <th class="text-center" scope="col">invitation code</th>
          <th class="text-center" scope="col">action</th>
        </tr>
      </thead>
      <tbody>
        {% for user in users %}
            {% if user.id != current_user.id %}
                <tr>
                  <th class="text-center" scope="row">{{ user.id }}</th>
                  <td class="text-center">{{ user.email }} {% if user.is_suspended %} <span>(suspended)</span> {% elif user.user_type == 'admin' %}
                            <span>(admin)</span>
                          {% endif %} </td>
                  <td class="d-flex justify-content-center">
                      <span style="font-size: 1.2rem;">{{ user.license|length }}</span>
                      <span class="ml-2"><i onclick="add_license_func({{ user.id }})" style="cursor:pointer;font-size: 1.2rem;" data-toggle="modal" data-target="#add_license" class="bi bi-plus-circle-fill text-success"></i></span>
                  </td>
                    <td style="text-overflow: ellipsis;" class="text-center">
                        {{ user.invited.code }}
                    </td>
                  <td class="text-center">
                      <a href="#" >
                          <i onclick="delete_user( '{{ user.email }}', '{{ user.id }}' )" style="font-size: 1.2rem;" class="bi bi-x-circle-fill text-danger" data-toggle="modal" data-target="#delete_user"></i>
                      </a>
                      <a class="lg-ml-2" href="#">
                          {% if user.is_suspended %}
                            <i onclick="reactivate_user( '{{ user.email }}', '{{ user.id }}' )" style="font-size: 1.2rem; font-weight:bolder " data-toggle="modal" data-target="#reactivate_user" class="bi bi-arrow-clockwise text-success"></i>
                          {% else %}
                            <i onclick="suspend_user( '{{ user.email }}', '{{ user.id }}' )" style="font-size: 1.2rem; " data-toggle="modal" data-target="#suspend_user" class="bi bi-dash-circle-fill text-danger"></i>
                          {% endif %}

                      </a>
                      <a class="lg-ml-2" href="#">
                          {% if user.user_type == 'admin' %}
                            <i onclick="downgrade_user( '{{ user.email }}', '{{ user.id }}' )"  data-target="#downgrade_user" data-toggle="modal" class="bi bi-award-fill {{ 'text-danger' }}" style="font-size: 1.2rem; " ></i>
                          {% else %}
                            <i onclick="upgrade_user( '{{ user.email }}', '{{ user.id }}' )" data-target="#upgrade_user" data-toggle="modal" class="bi bi-award-fill" style="font-size: 1.2rem; " ></i>
                          {% endif %}
                      </a>
                  </td>
                </tr>
            {% endif %}
        {% endfor %}
      </tbody>
    </table>







    <script>
        let user_id = 0;
        const confirm_delete_user = () =>{
            location.href = '/admin/delete/'+ user_id;
        }
        const confirm_reactivate_user = () =>{
            location.href = '/admin/reactivate/'+ user_id;
        }
        const confirm_suspend_user = () =>{
            location.href = '/admin/suspend/'+ user_id;
        }
        const confirm_upgrade_user = () =>{
            location.href = '/admin/upgrade/'+ user_id;
        }
        const confirm_downgrade_user = () =>{
            location.href = '/admin/downgrade/'+ user_id;
        }
        const delete_user = (user_email, id) => {
            document.querySelector("#delete_user_text").innerText = "are you sure you want to delete user \"" + user_email + '"' ;
            user_id = id;
        }
        const suspend_user = (b,id) => {
            document.querySelector("#suspend_user_text").innerText = "are you sure you want to suspend user \"" + b + '"' ;
            user_id = id;
        }
        const reactivate_user = (b, id) => {
            user_id = id;
            document.querySelector("#reactivate_user_text").innerText = "are you sure you want to reactivate user \"" + b + '"' ;
        }
        const upgrade_user = (b, id) => {
            user_id = id;
            document.querySelector("#upgrade_user_text").innerText = "are you sure you want to upgrade user \"" + b + '"' ;
        }
        const downgrade_user = (b, id) => {
            user_id = id;
            document.querySelector("#downgrade_user_text").innerText = "are you sure you want to downgrade user \"" + b + '"' ;
        }
        const add_license_func = (user_id) =>{
            document.querySelector("#added_license_id").value = user_id;
        }
    </script>

{% endblock website_content %}