{% extends "layouts/auth_layout.html" %}
{% block auth_form %}
    <h2>Reset password</h2>
    <form action="" method="post" class="auth-form">
        {{ form.hidden_tag() }}
        <div class="input-wrapper">
            {{ form.password.label() }}
            {% if form.password.errors %}
                {{ form.password(class="error-input") }}
                <div class="invalid-feedback">
                    {% for error in form.password.errors %}
                        <span>* {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password(class="") }}
            {% endif %}
        </div>
        <div class="input-wrapper">
            {{ form.confirm_password.label() }}
            {% if form.confirm_password.errors %}
                {{ form.confirm_password(class="error-input") }}
                <div class="invalid-feedback">
                    {% for error in form.confirm_password.errors %}
                        <span>* {{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.confirm_password(class="") }}
            {% endif %}
        </div>
        {{ form.submit(class="submit-btn box-shadow") }}
    </form>
{% endblock auth_form %}