*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: inherit;
    background-color: #FAFAFA;
    font-family: $app_font;
    font-size: 1rem;
    line-height: 1.6;
}
ul, li{
    list-style: none;
}
ul, li, p{
    margin: 0;
    padding: 0;
}
a{
    text-decoration: none;
    color: inherit;
}
td, th{
    // text-align: start;
}
@for $i from 1 through 6 {
    h#{$i}{
        margin: 0;
        padding: 0;
    }
  }
